page-mensagens-recebidas {
    .voltar{
        width: 140px;
        height: 40px;
        margin-left: 15px;
        margin-right: auto;
        border-radius: 10px;
    }
    .imagem{
        background-image: url('../../assets/imgs/t3.jpg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

    }
    h2, h5, p{
        color: #000000;
    }
    th, td{
        border-collapse: collapse;
        padding: 10px;
        color: #000000;
    }
}