page-veiculos-cadastrados {

  ion-content{
    background: url('../assets/imgs/fundo.jpg');
   }
   ion-input{
    background:rgba(216, 206, 206, 0.5);
   }
 .title{
  font-size: 25px;
 }
    th, td{
        border-collapse: collapse;
        padding: 10px;
        color: #000000;
    }
    h2, h3, h4{
        color: #000000;
    }
}
.caixa{
    border-radius: 5px;
    width:330px;
    height: 30px;
    background-color: rgba(234, 238, 224, 0.938);
}
.botton{
    width: 140px;
    height: 40px;
    margin-left:auto;
    margin-right: 15px;
    border-radius: 10px;
}
.card{
  border-radius: 30px;
}
.caixaInput{
  border:1px solid #000000
}
