page-enviar-notificacao {
  .tabela{
      width:5px;
      height: 20px;
      background-color: rgba(192, 194, 187, 0.938);
      border-radius: 10px;
  }
  ion-content{
    background: url('../assets/imgs/fundo.jpg');
   }
  h2{
      color: #000000;
  }
  .card{
      border-radius: 30px;
  }
  select{
      width: 160px;
  }
  .botton{
      width: 250px;
      height: 40px;
      text-align: center;
      border-radius: 10px 10px 10px 10px;
  }
  .inputLocation {
    .text-input {
        text-align: center;
    }
}
}
#arredondamento{
  width:952px;
  height: 60px;
  background-color: rgba(192, 194, 187, 0.938);
  border-radius: 10px;
}
