page-login {
   
    ion-content{
        background: url('../assets/imgs/fundo.jpg');

    }
    .titulo{
        font-size: 25px;
    }
    .cadastrar{
        text-align: center;
    }
    .botton-login{
        height: 40px;
        width: 250px;
        border-radius: 10px;
    }
 
}
